{% extends "orientir_main/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | Об организации{% endblock %}
{% block content %}
<hr>
<div class="push30"></div>
    <section class="about-part about-part-one">
        <div class="container">
            <div class="about-part-inner">
                <div>
                    <h1>Об организации</h1>
                </div>
                {% if about.content1 %}
                <div class="content">
                    <div class="about-image">
                        <img src="{{ about.image1.url }}" alt=""> <!--Картинка для первой секции страницы-->
                    </div>
                    {{ about.content1 | safe }} 
                </div>
                {% endif %}
            </div>
        </div>
    </section>
<div class="participant-page">
    <section class="participant-section">
        <div class="push50"></div>
        <div class="container">
            <div class="participant-wrapper">
                <div class="participant-header">
                    <div class="text-header">
                        <h2>Наши награды и сертификаты</h2>
                        <div class="push20"></div>
                    </div>
                    <hr>
                    <div class="push30"></div>
                    <div class="subtitle">
                        <p>
                            Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
                        </p>
                    </div>
                    <div class="push50"></div>
                </div>
                <div class="prize-wrap hidden-xs">
                    <!--=======================Participants item begin=======================-->
                    {% for picture in gallery %}
                    <div class="gallery-element">
                        <a href="{{ picture.image.url }}" class="fancybox" data-fancybox-group="gallery"> <!Превью изображение->
                            <img src="{{ picture.image.url }}"> <!Большое изображение>
                            <div class="zoom-gallery">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
				    {% endfor %}
                    <div class="gallery-element">
                        <a href="{% static 'orientir_main/images/prize-1.png' %}" class="fancybox" data-fancybox-group="gallery"> <!--Превью изображение-->
                            <img src="{% static 'orientir_main/images/prize-1.png' %}" alt=""> <!--Большое изображение-->
                            <div class="zoom-gallery">
                                <i class="fa fa-search-plus" aria-hidden="true"></i>
                            </div>
                        </a>
                    </div>
                   

                    <!--=======================Participants item end=======================-->
                </div>
                <div class="prize-wrap-slider visible-xs">
                    <!--=======================Participants item begin=======================-->
                  
                    <!--=======================Participants item end=======================-->
                </div>
            </div>
        </div>
        <div class="push50"></div>
    </section>
</div>
<section class="about-part about-part-three" ><!--Картинка для третьей секции страницы-->
    <div class="push20 hidden-sm hidden-xs"></div>
    <div class="container">
        <div class="about-part-inner about-part-inner-two">
            <div class="content">
                {{ about.content2 | safe }} 
            </div>
        </div>
    </div>
    <div class="push40 hidden-sm hidden-xs"></div>
</section>
<div class="push50 visible-sm visible-xs"></div>
<section class="num-section">
    <div class="text-header">
    	<div class="push50"></div>
    	<h2>О нашей организации в цифрах</h2>
    	<div class="push50"></div>
    </div>
    <div class="num-inner">
        <div class="num-item">
            <div class="element">
            	<div class="img-wrap">
            		<img src="{% static 'orientir_main/images/icons/icon1.png' %}" alt="">
            	</div>
                <div class="title-wrap">
                	проектов было<br>реализовано нашим<br>центром
                </div>
                <div class="num num1"><span id="num1">0</span> </div>
            </div>
        </div>
        <div class="num-item">
            <div class="element">
                <div class="img-wrap">
            		<img src="{% static 'orientir_main/images/icons/icon2.png' %}" alt="">
            	</div>
                <div class="title-wrap">
                	человек принимают<br>участие в деятельности<br>Ориентир-центра
                </div>
                <div class="num num2"><span id="num2">0</span> </div>
            </div>
        </div>
        <div class="num-item">
            <div class="element">
                <div class="img-wrap">
            		<img src="{% static 'orientir_main/images/icons/icon3.png' %}" alt="">
            	</div>
                <div class="title-wrap">
                	лет мы уже<br>осуществляем свою<br>работу
                </div>
                <div class="num num3"><span id="num3">0</span> </div>
            </div>
        </div>
    </div>
</section>

<section class="participant-section">
	<div class="push50"></div>
	<div class="container">
		<div class="participant-wrapper">
			<div class="participant-header">
				<div class="text-header">
					<h2>Специалисты и эксперты центра</h2>
					<div class="push20"></div>
				</div>
				<hr>
				<div class="push30"></div>
				<div class="subtitle">
					<p>
						Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
					</p>
				</div>
				<div class="push15"></div>
				<a class="button visible-lg visible-md" href="{% url 'main:structure' %}">Смотреть все</a>
			</div>
			<div class="participant-slider">
				<!--=======================Participants item begin=======================-->
                {% for expert in experts %}
                <div class="experts-item">
                 <a class="link-block" href="{{ expert.get_absolute_url }}"></a>
                 <div class="expert-inner">
                     <div class="image-wrapper">
                         {% if expert.avatar %}
                             <img src="{{ expert.avatar.url }}" alt="expert"/>
                         {% else %}
                             <img src="{% static 'orientir_main/images/empty.png' %}" alt="expert">
                         {% endif %}
                     </div>
                     <div class="experts-text">
                         <div class="title-wrapper">
                             {{ expert.title }}
                         </div>
                         <div class="push10"></div>
                         <div class="description-wrapper">
                             {{ expert.content }}
                         </div>
                     </div>
                 </div>
             </div>
             {% endfor %}

				<!--=======================Participants item end=======================-->
			</div>
			<div class="button-wrap hidden-lg hidden-md">
				<a class="button" href="{% url 'main:structure' %}">Смотреть все</a>
			</div>
		</div>
	</div>
	<div class="push70"></div>
</section>
{% endblock %}