{% extends "orientir_main/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | Контакты{% endblock %}
{% block content %}
<section class="experts-wrapper">
  <div class="push50"></div>
  <div class="container">
      <section class="contacts-section">
        <div class="contact-wrap">
			<!--Contacts item begin-->
			<div class="contacts-item contacts-item-first">
				<div class="contacts-inner-item">
					<h1>Контакты</h1>
					<div class="contacts-wrapper">
						<div class="adress"><i class="fa fa-map-marker" aria-hidden="true"></i> г. Ульяновск пр-т Ульяновский, д 13, 432072</div>
						<div class="push10"></div>
						<a href="tel:+79372711122" class="phone"> <i class="fa fa-phone" aria-hidden="true"></i>+7 (937) 271-11-22</a>
						<div class="push10"></div>
            <a href="tel:+79372756688" class="phone"> <i class="fa fa-phone" aria-hidden="true"></i>+7 (937) 275-66-88</a>
						<div class="push10"></div>
						<a href="mailto:is_orientir@mail.ru" class="email"><i class="fa fa-envelope" aria-hidden="true"></i>is_orientir@mail.ru</a>
						<div class="push15"></div>
						<div class="social">
							<!--a href="#" class="fcb"><i class="fa fa-facebook"></i></a-->
							<a href="https://vk.com/ssorientir" class="vk"><i class="fa fa-vk"></i></a>
							<a href="#" class="rss"><i class="fa fa-rss"></i></a>
						</div>
						<div class="push30"></div>
					</div>
				</div>
				
          </div>
          <!--Contacts item end-->
          <!--Contacts item begin-->
          <div class="contacts-item contacts-item-form">
            <div class="form-header">Для вопросов и предложений</div>
            <form method="post" class="form-contact form">
              {% csrf_token %}
                  <div class="form-body">
                      <!--div class="form-group">
                          <input name="name" placeholder="Ваше имя*" type="text" class="text" required />
                      </div>
                      <div class="form-group">
                          <input name="email" placeholder="Ваш Email*" type="email" class="text" required/>
                      </div>
                      <div class="form-group">
                        <textarea name="mess" placeholder="Введите сообщение..."></textarea>
                      </div-->
                      {{ form.as_p }}
                  </div>
                  <div class="form-actions form-group ">
                      <button type="submit" class="form-control btn btn-success button button-form" name="sendform">Отправить</button>
                  </div>
            </form>
          </div>
          <!--Contacts item end-->
          
        </div>
      </section>
      <div class="push100"></div>
  </div>
</section>
{% endblock %}
