{% extends "orientir_main/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | Эксперты{% endblock %}
{% block content %}
<div class="participant-page">
    <section class="participant-section">
        <hr>
        <div class="push50"></div>
        <div class="container">
            <div class="participant-wrapper">
                <div class="participant-header">
                    <div class="text-header">
                        <h2>Специалисты и эксперты центра</h2>
                        <div class="push20"></div>
                    </div>
                    <hr>
                    <div class="push30"></div>
                    <div class="subtitle">
                        <p>
                            Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
                        </p>
                    </div>
                    <div class="push50"></div>
                </div>
                <div class="participants-wrap">
                    <!--=======================Participants item begin=======================-->
                    {% for expert in experts %}
                       <div class="experts-item">
                        <a class="link-block" href="{{ expert.get_absolute_url }}"></a>
						<div class="expert-inner">
							<div class="image-wrapper">
                                {% if expert.avatar %}
                                    <img src="{{ expert.avatar.url }}" alt="expert"/>
                                {% else %}
                                    <img src="{% static 'orientir_main/images/empty.png' %}" alt="expert">
                                {% endif %}
							</div>
							<div class="experts-text">
								<div class="title-wrapper">
									{{ expert.title }}
								</div>
								<div class="push10"></div>
								<div class="description-wrapper">
									{{ expert.content }}
								</div>
							</div>
						</div>
					</div>
                    {% endfor %}

                    
                    <!--=======================Participants item end=======================-->
                </div>
            </div>
        </div>
        <div class="push70"></div>
    </section>
    <div class="push50"></div>
    {% endblock %}
</div>
