{% extends "orientir_main/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | Галерея{% endblock %}
{% block content %}
<section class="project-section">
    <hr>
    <div class="push40"></div>
	<div class="container">
		<div class="project-wrapper">
			<div class="content">
				<div class="project-header">
					<div class="header-title">
						<h2>Галерея</h2>
						<div class="push25"></div>
					</div>
					<div class="subtitle">
						<!--p>
							Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.
						</p-->
					</div>
				</div>
				<div class="gallery-wrapper">
					{% for gallery in album_list %}
					<a href="{{ gallery.get_absolute_url }}" class="gallery-item">
						<div class="img-wrap">
							{% if gallery.image %}
								<img src="{{ gallery.image.url }}" alt="album">!--Изображение альбома->
							{% else %}
								<img src="{% static 'orientir_main/images/empty.png' %}" alt="album">
							{% endif %}
						</div>
						<div class="title-wrap">
							{{ gallery.title|truncatechars:90 }}
						</div>
					</a>
					{% endfor %}
				</div>
				{% include 'orientir_main/pagination.html' %}
                <div class="push50"></div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
