{% extends "orientir_main/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | Главная{% endblock %}
{% block content %}
<!--------------------------------------------------------------Slider begin-------------------------------------------------------------->
<div class="push40 hidden-xs"></div>
<section class="header-slider-wrapper">
	<div class="container">
		<div class="header-img-wrap">
			{% for slide in slider %}
			<div class="header-img" style="background-image: url({{slide.image.url}});">
				<div class="header-img-inner">
					<h2>
						{{ slide.title|truncatechars:45 }}
					</h2>
					<div class="describtion">
						{{ slide.content|truncatechars:111 }}
					</div>
					<div class="button-wrapper">
						<a href="#form" class="button">Бесплатная консультация</a>
					</div>
				</div>
			</div>
			{% endfor%}
		</div>
	</div>
	<div class="push70"></div>
</section>

<!--------------------------------------------------------------Slider end-------------------------------------------------------------->

<!--------------------------------------------------------------About begin-------------------------------------------------------------->
<section class="about-section">
	<div class="push90"></div>
	<div class="container">
		<div class="about-wrapper-section">
			<div class="content">
				<div class="header-title">
					<h2>Об организации</h2>
					<div class="push20 visible-lg visible-md"></div>
					<div class="push10 hidden-lg hidden-md"></div>
					<hr class=" hidden-lg hidden-md">
					<div class="push10 hidden-lg hidden-md"></div>
				</div>
				<div class="subtitle">
					<p>
                        В современное время сетевого общения важно сохранить навыки живого общения, понимания, уважения к другим.
                        Мультикультурность и мультиязычность становятся важнейшими навыками молодых профессионалов.
                        <br>
                        Soft skills – это надпрофессиональные навыки, не связанные с профессиональной деятельностью или обязанностями человека.
                        Они нужны, чтобы Вы смогли понимать других и сделать так, чтобы Вас лучше и быстрее понимали. Это поможет Вам работать в проектах и командах, быстрее решать задачи. Специалисты Центра работают над важнейшими задачами развития молодежи.
                    </p>
				</div>
				<a class="button" href="{% url 'main:about' %}">Подробнее</a>
			</div>
			<div class="content-image visible-lg visible-md">
				<img src="{% static 'orientir_main/images/ab.jpg' %}" alt="мб лого">
			</div>
		</div>
	</div>
	<div class="push90"></div>
	<div class="push40 hidden-lg"></div>
</section>
<!--------------------------------------------------------------About end-------------------------------------------------------------->
<!--------------------------------------------------------------Project begin-------------------------------------------------------------->
<section class="project-section">
	<div class="push90"></div>
	<div class="container">
		<div class="project-wrapper">
			<div class="content">
				<div class="project-header">
					<div class="header-title">
						<h2>Проекты</h2>
						<div class="push25"></div>
					</div>
					<div class="subtitle">
						<p>
							Предприниматели в сети интернет, инициированные исключительно синтетически, своевременно верифицированы. Внезапно, некоторые особенности внутренней политики освещают чрезвычайно интересные.
                        </p>
					</div>
				</div>
				<div class="section-item-wrapper">
					<!--=======================Project item begin (2 item for preview)=======================-->
					{% for project in projects %}
					<a href="{{ project.get_absolute_url }}" class="section-item">
                        <div class="title-wrap">
                            <h3>{{ project.title }}</h3>
                            <div class="project-subtitle">
								{{ project.subtitle }}
							</div>
							<div class="button">Подробнее</div>
                        </div>
					</a>
                    {% endfor %}
					<!--=======================Project item end=======================-->
				</div>
				<a class="button" href="{% url 'main:projects' %}">Смотреть все</a>
			</div>
		</div>
	</div>
	<div class="push90"></div>
</section>
<!--------------------------------------------------------------Project item end-------------------------------------------------------------->

<!--------------------------------------------------------------Num begin-------------------------------------------------------------->
<section class="num-section">
    <div class="text-header">
    	<div class="push50"></div>
    	<h2>О нашей организации в цифрах</h2>
    	<div class="push50"></div>
    </div>
    <div class="num-inner">
		<!--Num item begin-->
        <div class="num-item">
            <div class="element">
            	<div class="img-wrap">
            		<img src="{% static 'orientir_main/images/icons/icon1.png' %}" alt="">
            	</div>
                <div class="title-wrap">
                	проектов было<br>реализовано нашей<br>организацией
                </div>
                <div class="num num1"><span id="num1">0</span> </div>
            </div>
        </div>
		<!--Num item end-->
		<!--Num item begin-->
        <div class="num-item">
            <div class="element">
                <div class="img-wrap">
            		<img src="{% static 'orientir_main/images/icons/icon2.png' %}" alt="">
            	</div>
                <div class="title-wrap">
                	человек принимают<br>участие в деятельности<br>центра
                </div>
                <div class="num num2"><span id="num2">0</span> </div>
            </div>
        </div>
		<!--Num item end-->
		<!--Num item begin-->
        <div class="num-item">
            <div class="element">
                <div class="img-wrap">
            		<img src="{% static 'orientir_main/images/icons/icon3.png' %}" alt="">
            	</div>
                <div class="title-wrap">
                	лет мы уже<br>осуществляем свою<br>работу
                </div>
                <div class="num num3"><span id="num3">0</span> </div>
            </div>
        </div>
		<!--Num item end-->
    </div>
</section>
<!--------------------------------------------------------------Num end-------------------------------------------------------------->
<!--------------------------------------------------------------Participants begin-------------------------------------------------------------->
<section class="participant-section">
	<div class="push50"></div>
	<div class="container">
		<div class="participant-wrapper">
			<div class="participant-header">
				<div class="text-header">
					<h2>Специалисты и эксперты центра</h2>
					<div class="push20"></div>
				</div>
				<hr>
				<div class="push30"></div>
				<div class="subtitle">
					<p>
						Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
					</p>
				</div>
				<div class="push15"></div>
				<a class="button visible-lg visible-md" href="{% url 'main:structure' %}">Смотреть все</a>
			</div>
			<div class="participant-slider">
				<!--=======================Participants item begin=======================-->
				{% for expert in experts %}
				<div class="experts-item">
				 <a class="link-block" href="{{ expert.get_absolute_url }}"></a>
				 <div class="expert-inner">
					 <div class="image-wrapper">
						 {% if expert.avatar %}
							 <img src="{{ expert.avatar.url }}" alt="expert"/>
						 {% else %}
							 <img src="{% static 'orientir_main/images/empty.png' %}" alt="expert">
						 {% endif %}
					 </div>
					 <div class="experts-text">
						 <div class="title-wrapper">
							 {{ expert.title }}
						 </div>
						 <div class="push10"></div>
						 <div class="description-wrapper">
							 {{ expert.content }}
						 </div>
					 </div>
				 </div>
			 </div>
			 {% endfor %}

				<!--=======================Participants item end=======================-->
			</div>
			<div class="button-wrap hidden-lg hidden-md">
				<a class="button" href="{% url 'main:structure' %}">Смотреть все</a>
			</div>
		</div>
	</div>
	<div class="push70"></div>
</section>
<!--------------------------------------------------------------Participants end-------------------------------------------------------------->
<!--------------------------------------------------------------contacts begin-------------------------------------------------------------->
<section class="contacts-section contacts-index-section">
	<div class="contacts-inner">
		<div class="contacts-item contacts-item-adress">
			<div class="img-wrapper">
				<img src="{% static 'orientir_main/images/map.png' %}"/>
			</div>
			<div class="title-wrap">
				432072 Ульяновская область,<br>
				г. Ульяновск, пр-т Ульяновский, 13<br>
				ИНН: 7328096514<br>
			</div>
		</div>
		<div class="contacts-item contacts-item-form" id="form">
            <div class="form-header">Для вопросов и предложений</div>
			<form method="post" class="form-contact form">
              {% csrf_token %}
                  <div class="form-body">
                      <div class="form-group">
                          <input name="name" placeholder="Ваше имя*" type="text" class="text" required />
                      </div>
                      <div class="form-group">
                          <input name="email" placeholder="Ваш Email*" type="email" class="text" required/>
                      </div>
                      <div class="form-group">
                        <textarea name="mess" placeholder="Введите сообщение..."></textarea>
                      </div>
                  </div>
                  <div class="form-actions form-group ">
                      <button type="submit" class="form-control btn btn-success button button-form" name="sendform">Отправить</button>
                  </div>
            </form>
        </div>
		<div class="contacts-item contacts-item-phone">
			<div class="img-wrapper">
				<img src="{% static 'orientir_main/images/phone.png' %}"/>
			</div>
			<div class="title-wrap">
				<i class="fa fa-phone" aria-hidden="true"></i>8 (937) 271-11-22 <br>
				<i class="fa fa-phone" aria-hidden="true"></i>8 (937) 275-66-88 <br>
				<i class="fa fa-envelope" aria-hidden="true"></i>is_orientir@mail.ru
			</div>
		</div>
	</div>
</section>
<!--------------------------------------------------------------contacts end-------------------------------------------------------------->
<!--------------------------------------------------------------News begin-------------------------------------------------------------->
<section class="news-section">
	<div class="container">
		<div class="push90"></div>
		<div class="news-header">
			<div class="news-header-inner">
				<div class="sub">Будьте в курсе событий!</div>
				<h2>Новости</h2>
			</div>
			<a href="{% url 'main:news' %}" class="button hidden-xs">Смотреть все</a>
		</div>
		<div class="push20"></div>
		<div class="news-wrapper">
			{% for new in last_news %}
			<div class="news-item">
				<a class="link-block" href="{% url 'main:new' new.slug %}"></a>
				<div class="news-img-wrap">
					{% if new.image %}
						<img src="{{ new.image.url }}" alt="new">
					{% else %}
						<img src="{% static 'orientir_main/images/empty-news.jpg' %}" alt="new">
					{% endif %}
				</div>
				<div class="news-text">
					<div class="news-date">
						<i class="fa fa-calendar-o" aria-hidden="true"></i>
						{{ new.published|date:"d.m.Y" }}
					</div>
					<div class="news-text-inner">
						<div class="news-inner">
							<div class="news-title">
								{{ new.title }}
							</div>
							<a class="" href="{% url 'main:new' new.slug %}">Читать далее <span>>></span></a>
						</div>
						<div class="annotation">
							<div class="padding"></div>
							{{ new.mini_content|truncatechars:105 }}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		<a href="{% url 'main:news' %}" class="button visible-xs">Смотреть все</a>
		<div class="push50"></div>
		</div>
	</div>
	<div class="push50"></div>
</section>
<!--------------------------------------------------------------News end-------------------------------------------------------------->

{% endblock %}
