
{% extends "orientir_main/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | Портфель ссылок{% endblock %}
{% block content %}
<hr>
<div class="push40"></div>
<div class="container">
    <div class="bags-wrap">
        <h2>Портфель ссылок</h2>
        <div class="push50"></div>
        <div class="bags-wrapper">

          {% for bag in bags %}
            <div class="bags-inner">
                <div class="bag-wrapper">
                    <div class="bag-wrap">
                        <div class="bag-header text-center">
                            <h3>{{ bag.title }}</h3>
                        </div>
                        <div class="push30"></div>
                        <div class="bag-description">
                            {{ bag.content }}
                        </div>
                        <div class="push70"></div>
                        <div class="bag-button text-center">
                            <a href="{{ bag.get_absolute_url }}">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>
    

<div class="push50"></div>
{% endblock %}