
{% extends "orientir_main/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | Портфель ссылок{% endblock %}
{% block content %}
<hr>
<div class="push40"></div>
<div class="container">
    <div class="bags-wrap">
        <h2>Портфель ссылок</h2>
        <div class="push50"></div>
        <div class="bags-wrapper">

          {% for bag in bags %}
            <div class="bags-inner">
                <div class="bag-wrapper">
                    <div class="bag-wrap">
                        <div class="bag-header text-center">
                            <h3>{{ bag.title }}</h3>
                        </div>
                        <div class="push30"></div>
                        <div class="bag-description">
                            {{ bag.content }}
                        </div>
                        <div class="push70"></div>
                        <div class="bag-button text-center">
                            <a href="{{ bag.get_absolute_url }}">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} 

            <!--div class="bags-inner">
                <div class="bag-wrapper">
                    <div class="bag-wrap">
                        <div class="bag-header text-center">
                            <h3>Антикоррупционные видеотеки для учащихся</h3>
                        </div>
                        <div class="push30"></div>
                        <div class="bag-description">
                            <p>Видеоматериалы данного раздела могут использоваться как для
                            самообразования учащихся, студентов и всех заинтересованных граждан, так
                            и для проведения профилактической работы антикоррупционной
                            направленности и воспитания нетерпимости к проявлению коррупции
                            наглядными методами обучения.</p>
                            <p>В данном разделе размещены ссылки на 50 видеоматериалов.</p>
                        </div>
                        <div class="push70"></div>
                        <div class="bag-button text-center">
                            <a href="link1.html">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="bags-inner">
                <div class="bag-wrapper">
                    <div class="bag-wrap">
                        <div class="bag-header text-center">
                            <h3>Буклеты, Памятки. Что нужно знать о коррупции</h3>
                        </div>
                        <div class="push30"></div>
                        <div class="bag-description">
                            <p>Материалы данных веб-страниц могут использоваться:</p>
                            <ul>
                                <li>для проведения просветительских мероприятий в учебных заведениях</li>
                                <li>для повышения антикоррупционной грамотности</li>
                                <li>для профилактической работы</li>
                                <li>разработки авторских буклетов и самообразования.</li>
                            </ul>
                            <p>Здесь представлены ссылки на 75 буклетов и памяток.</p>
                        </div>
                        <div class="push70"></div>
                        <div class="bag-button text-center">
                            <a href="/link2">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="bags-inner">
                <div class="bag-wrapper">
                    <div class="bag-wrap">
                        <div class="bag-header text-center">
                            <h3>Литература по антикоррупционному воспитанию и просвещению учащихся</h3>
                        </div>
                        <div class="push30"></div>
                        <div class="bag-description">
                            <p>В данном разделе представлены материалы для студентов, магистрантов,
                            ученых и практиков из самых различных сфер деятельности:
                            государственного и муниципального управления, юриспруденции,
                            психологии, экономики, социологии, педагогики, а также всех
                            интересующихся вопросами противодействия коррупции.</p>
                        </div>
                        <div class="push70"></div>
                        <div class="bag-button text-center">
                            <a href="/link3">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class=" bags-inner">
                <div class="bag-wrapper">
                    <div class="bag-wrap">
                        <div class="bag-header text-center">
                            <h3>Сайты общественных организаций.</h3>
                        </div>
                        <div class="push30"></div>
                        <div class="bag-description">
                            <p>В разделе размещены ссылки на сайты общественных организаций,
                            развивающих
                            устойчивое отрицательное отношение к коррупции,
                            нетерпимость ее проявления в обществе среди населения, бизнес-общества и
                            др.</p>
                        </div>
                        <div class="push70"></div>
                        <div class="bag-button text-center">
                            <a href="/link4">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="bags-inner">
                <div class="bag-wrapper">
                    <div class="bag-wrap">
                        <div class="bag-header text-center">
                            <h3>Официальные сайты органов власти.</h3>
                        </div>
                        <div class="push30"></div>
                        <div class="bag-description">
                            <p>В данном разделе содержаться ссылки на сайты органов государственной
                            власти, содержащих нормативно-правовые акты, антикоррупционную
                            экспертизу, методические материалы, формы документов, доклады, обзоры,
                            статистическая информация</p>
                        </div>
                        <div class="push70"></div>
                        <div class="bag-button text-center">
                            <a href="/link5">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="bags-inner">
                <div class="bag-wrapper">
                    <div class="bag-wrap">
                        <div class="bag-header text-center">
                            <h3>Презентации. Коррупция и методы борьбы с ней.</h3>
                        </div>
                        <div class="push30"></div>
                        <div class="bag-description">
                            <p>В данном разделе представлены сайты содержащие ссылки на презентации
                            (16 шт), которые могут быть использованы как педагогами, так и учащимися
                            для подготовки антикоррупционных мероприятий, работы агит-бригад,
                            проведения антикоррупционных мероприятий в учебных заведениях.</p>
                        </div>
                        <div class="push70"></div>
                        <div class="bag-button text-center">
                            <a href="/link6">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div-->
        </div>
    </div>
    

<div class="push50"></div>
{% endblock %}