{% extends "orientir_main/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | Регистрация{% endblock %}
{% block content %}
    <div class="container" id="regist">
        <h2>Регистрация</h2>
        <br />
        <div class="rf">
            <form method="post" name="registration">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <input type="submit" class="button btn" value="Зарегистрироваться" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}