{% extends "orientir_main/layout/base.html" %}
{% load static %}
{% block title %}Ориентир | {{ title }}{% endblock %}
{% block content %}
<section class="project-section forum-section">
    <hr>
    <div class="push40"></div>
	<div class="container">
		<div class="project-wrapper">
			<div class="content">
				<div class="project-header">
					<div class="header-title">
						<h2>{{ title }}</h2>
						<div class="push10"></div>
						<div class="push25"></div>
					</div>
					<div class="subtitle">
						<p>
                            {{ description }}
						</p>
					</div>
				</div>
				<div class="section-item-wrapper">
					<!--=======================Project item begin (2 item for preview)=======================-->
					{% for topic in topics %}
						<a href="{{ topic.get_absolute_url }}" class="section-item">
							<div class="title-wrap">
								<h3>{{ topic.subject }}</h3>
								<div class="project-subtitle">
									{{ topic.subtitle|truncatewords_html:50|safe }}
								</div>
								<div class="item-bottom">
									<div class="button" href="{{ topic.get_absolute_url }}">Обсудить</div>
									<div class="date">{{ topic.last_update|date:"d.m.Y" }}</div>
								</div>
							</div>
						</a>
                    {% endfor %}
					<!--=======================Project item end=======================-->
				</div>
				{% include 'orientir_main/pagination.html' %}
                <div class="push50"></div>
			</div>
		</div>
	</div>
</section>

{% endblock %}

